/* Base styles */
body {
  font-family: Arial, Helvetica, sans-serif; /* Police sans-serif classique */
  background-color: #000000; /* Noir foncé */
  color: #ffffff; /* Texte blanc */
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
  
/* Header */
header {
  background-color: #000000; /* Noir pur */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
  
header a {
  color: #fd2020;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  position: relative;
  z-index: 3;
}
  
header a:hover {
  color: #ff9000; /* Orange vif */
}
  
/* Buttons */
button {
  background-color: #ff9000; /* Orange vif */
  border: none;
  padding: 10px 20px;
  color: #000000; /* Noir */
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  z-index: 3;
}
  
button:hover {
  background-color: #cc7a00; /* Orange foncé */
}
  
/* Links */
a {
  color: #ff9000; /* Orange vif */
  text-decoration: none;
  position: relative;
  z-index: 3;
}
  
a:hover {
  text-decoration: underline;
}
  
/* Card or container */
.card {
  background-color: #2a2a2a; /* Gris foncé */
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
  
.card h2 {
  color: #ff9900; /* Orange vif */
}
  
.card p {
  color: #cccccc; /* Gris clair */
}
  
/* H1 styles */
h1 {
  font-size: 2rem; /* Taille de la police importante */
  color: #ff9000; /* Orange vif */
  font-weight: bold;
  text-align: center; /* Centrer le texte */
  text-transform: uppercase; /* Tout en majuscules */
  margin: 20px 0; /* Marges autour */
  letter-spacing: 2px; /* Espacement entre les lettres */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Ombre légère */
  position: relative;
  z-index: 2;
}

.calendrier {
  height: 80vh; /* Utilise 100% de la hauteur de la vue */
  display: flex;
  flex-direction: column;
}

/* supplantation du css du module React-big-calendar */
.rbc-today {
  background-color: #423e39;
  color: #000000;
  position: relative;
  z-index: 1;
}

.rbc-off-range-bg {
  background-color: #2a2a2a;
  color: #ff9000;
  position: relative;
  z-index: 1;
}

/* test */
/* Styles pour les événements passés */
.rbc-event.event-not-participating,
.rbc-day-slot .rbc-event.event-not-participating {
    background-color: #ff9000 !important;
    color: #000000 !important;
    position: relative;
    z-index: 1;
}

/* Styles pour les événements actifs */
.rbc-event.event-participating,
.rbc-day-slot .rbc-event.event-participating {
    background-color: #ff4000 !important;
    color: #000000 !important;
    position: relative;
    z-index: 1;
}

.rbc-event.rbc-selected.event-participating, .rbc-day-slot.event-participating .rbc-selected.rbc-background-event.event-participating {
  background-color: #cc7a00;
  color: #000000;
  position: relative;
  z-index: 1;
}

.rbc-event.rbc-selected.event-not-participating, .rbc-day-slot.event-not-participating .rbc-selected.rbc-background-event.event-not-participating {
  background-color: #cc7a00;
  color: #000000;
  position: relative;
  z-index: 1;
}

.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #000000;
  color: #000000;
  position: relative;
  z-index: 1;
}

.rbc-event {
  background-color: #000000;
  color: #000000;
  position: relative;
  z-index: 1;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
  background-color: #ff9000;
  color: #000000;
  position: relative;
  z-index: 1;
}

.rbc-toolbar button:hover {
  background-color: #cc7a00;
  color: #000000;
  position: relative;
  z-index: 1;
}

.rbc-toolbar button:active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
  background-color: #ff9000;
  color: #000000;
  position: relative;
  z-index: 1;
}

.rbc-toolbar button {
  color: #ffffff;
  background-color: #000000;
  position: relative;
  z-index: 1;
}

.popup {
  background-color: #000000;
  border: 2px solid #ff9000;
  border-radius: 5px;
  position: relative;
  z-index: 4;
}