/* Styles pour Connexion */

.connexion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #f4f4f4;
  }
  
  .connexion-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .connexion-button {
    padding: 10px;
    background: #1b1b1b; /* Couleur de fond noire */
    color: #f39c12; /* Couleur du texte (orange) */
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .connexion-button:hover {
    background-color: #0056b3;
  }  